* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a192f;
  font-family: FiraMono;
}

html {
  font-size: 100%;
}

@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter-Regular.otf");
}

@font-face {
  font-family: FiraMono;
  src: url("assets/fonts/FiraMono-Regular.otf");
}

li {
  list-style: none;
  font-family: FiraMono;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 0rem 1.5rem;
}

.nav-logo{
  width: 3rem;
  height: auto;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c4cde9;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link{
  font-size: 1rem;
  font-weight: 400;
  color: #c4cde9;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -105%;
      top: 5rem;
      flex-direction: column;
      background-color: #0a192f;
      width: 100%;
      text-align: center;
      transition: 0.3s;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 0.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

}


.nameAndIntro {
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 8rem;
}

#helloText {
  color: #64ffda;
  font-family: FiraMono;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

#nameText {
  color: #eaefff;
  font-family: Inter;
  font-weight: 600;
  font-size: 3.8rem;
  padding-bottom: 0.5rem;
}

#taglineText {
  color: #ccd6f6;
  font-family: Inter;
  font-weight: 600;
  font-size: 3.4rem;
  padding-bottom: 1rem;
}

#descriptionText {
  color: #c4cde9;
  font-family: Inter;
  font-size: 1rem;
  width: 30rem;
  line-height: 1.7rem;
}

.topSocialLinks img {
  padding-top: 1.2rem;
  padding-right: 1rem;
}

#introResumeButton{
  display: none;
}

.skillsAndAbout{
  margin-top: 15rem;
}

#moreAboutMeText{
  color: #EAEFFF;
  font-family: FiraMono;
  font-weight: 900;
  font-size: 1.7rem;
  text-align: center;
}

#separatorBar{
  width: 2.5rem;
  height: 0.2rem;
  background-color: #64FFDA;
  margin: auto;
  margin-top: 1rem;
}

#aboutSectionIntroText{
  margin-top: 1rem;
  color: #CCD6F6;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.aboutMeAndSkillsMasterContainer{
  display: flex;
  padding-left: 5rem;
  margin-top: 5rem;
  padding-bottom: 7rem;
}

.aboutMeContainer{
  width: 45%;
  padding-right: 10rem;
}

.aboutMeHeading{
  display: flex;
  margin-bottom: 1rem;
}

#headingDot{
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 10rem;
  background-color: #64FFDA;
  margin-right: 0.8rem;
  margin-top: 0.4rem;
}

#headingText{
  font-size: 1.4rem;
  font-weight: bold;
  color: #EAEFFF;
}


#completeAboutMe{
  color: #CCD6F6;
  margin-left: 1.3rem;
  line-height: 1.5rem;
}

.skillCard{
  margin-left: 1.5rem;
  margin-top: 1.7rem;
}

.skillCard p{
  color: #CCD6F6;
  margin-bottom: 0.8rem;
}

.skillBar{
  width: 25rem;
  height: 0.5rem;
  border-radius: 10rem;
}

#html{
  background: linear-gradient(
    to right, 
    #64FFDA 0%,
    #64FFDA 90%,
    #002F75 90%,
    #002F75 100%
  );
}

#node{
  background: linear-gradient(
    to right, 
    #64FFDA 0%,
    #64FFDA 30%,
    #002F75 30%,
    #002F75 100%
  );
}

#cpp{
  background: linear-gradient(
    to right, 
    #64FFDA 0%,
    #64FFDA 75%,
    #002F75 75%,
    #002F75 100%
  );
}

#python{
  background: linear-gradient(
    to right, 
    #64FFDA 0%,
    #64FFDA 85%,
    #002F75 85%,
    #002F75 100%
  );
}

#java{
  background: linear-gradient(
    to right, 
    #64FFDA 0%,
    #64FFDA 65%,
    #002F75 65%,
    #002F75 100%
  );
}

#flutter{
  background: linear-gradient(
    to right, 
    #64FFDA 0%,
    #64FFDA 95%,
    #002F75 95%,
    #002F75 100%
  );
}

#wordpress{
  background: linear-gradient(
    to right, 
    #64FFDA 0%,
    #64FFDA 95%,
    #002F75 95%,
    #002F75 100%
  );
}

/* Mobile CSS */

@media (max-width: 480px) {
  .nameAndIntro {
    padding: 13rem 0rem 0rem 0rem;
    width: 90%;
    text-align: center;
    margin: auto;
  }

  #helloText{
    font-size: 1rem;
    font-weight: 900;
    padding-bottom: 0.8rem;
  }

  #nameText{
    font-size: 2.5rem;
    font-weight: 900;
    padding-bottom: 1rem;
  }

  #taglineText{
    display: none;
  }

  #descriptionText{
    font-size: 0.9rem;
    font-weight: 900;
    width: 100%;
    font-weight: 500;
    padding-bottom: 1rem;
  }

  .topSocialLinks{
    padding-bottom: 2rem;
  }

  #introResumeButton{
    display: block;
    margin: auto;
    width: 7rem;
    height: 2.5rem;
    border: 1px #64ffda solid;
    border-radius: 0.5rem;
    font-family: FiraMono;
    text-align: center;
    line-height: 2.5rem;
    color: #c4cde9;
  }

  .skillsAndAbout{
    margin-top: 10rem;
  }

  .aboutMeAndSkillsMasterContainer{
    display: block;
    padding-left: 2.5rem;
    margin-top: 5rem;
    padding-bottom: 7rem;
    width: fit-content;
  }

  #moreAboutMeText{
    font-size: 1.3rem;
  }

  #aboutSectionIntroText{
    font-size: 1rem;
  }

  .aboutMeContainer{
    width: fit-content;
    padding-right: 1.5rem;
  }

  .skillsContainer {
    margin-top: 3rem;
    width: fit-content;
  }

  .skillCard{
    margin-left: 1.5rem;
    margin-top: 1.7rem;
  }
  
  .skillCard p{
    color: #CCD6F6;
    margin-bottom: 0.8rem;
  }
  
  .skillBar{
    width: 17rem;
    height: 0.5rem;
    border-radius: 10rem;
  }


}
